.rectangle38 {
  position: relative;
  width: 908px;
  height: 1080px;
  border-top-left-radius: 3px;
  border-top-right-radius: 62px;
  border-bottom-right-radius: 62px;
  background: #2220217d;
  transform: rotate(0deg);
  opacity: 1;
}
.rectangleImage {
  width: 908px;
  height: 1080px;
  border-top-left-radius: 11px;
  border-top-right-radius: 42px;
  border-bottom-right-radius: 42px;
  border-bottom-left-radius: 11px;
  transform: rotate(0deg);
  opacity: 1;
}
.mainScreen {
  position: absolute;
  width: 1320px;
  height: 714px;
  top: 218px;
  left: 195px;
  transform: rotate(0deg);
  opacity: 1;
  box-shadow: 0px 4px 52px 0px #f5f5f52b;
}
.rectangle39 {
  background: #1e0c06;
  width: 1320px;
  height: 714px;
  border-top-left-radius: 43px;
  border-bottom-left-radius: 43px;
  transform: rotate(0deg);
  opacity: 1;
}
